.l{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXh5Nd65rNlsdWb9_m-8n0aBeYtdDFV7IVD45yxC_LWw&usqp=CAU&ec=48600113');
    background-size: cover;
    height: 100vh;
}