.f {
    
    background-image: url('https://media.istockphoto.com/id/1425640046/photo/movie-theater-cinema-hall-with-white-screen-red-curtains-and-rows-of-seats-realistic-interior.webp?b=1&s=170667a&w=0&k=20&c=0HXTo2ih7uDReR7AzFZy4wK4sfhUG0MwpXqsHUcnIns=');
    background-size: cover;
    height: 100vh;
    
  }
  