.h{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRD40LHZ8weyorVVP8f_eZPrq59wheszfZfMP54MRWqw&usqp=CAU&ec=48600113');
    background-size: cover;
    height: 100vh;
}